<% include ../common/header.ejs %>
    <form class="form" id="registerForm">
        <h2>首页</h2>
        <ul class="nav">
            <li><a href="/user/center">用户中心</a></li>
            <li><a href="/user/info">用户信息</a></li>
            <li><a href="/user/blog">用户博客</a></li>
        </ul>
    </form>
<% include ../common/footer.ejs %>
