<% include ../common/header.ejs %>
   <form class="form" id="registerForm">
        <label><tt>用户名:</tt><input type="text" class="input_text" id="username" /></label>
         <label><tt>密码:</tt><input type="password" class="input_text" id="password" /></label>
         <label><tt>邮件:</tt><input type="text" class="input_text" id="email" /></label>
        <button type="submit" class="btn">注册</button>
    </form>
<% include ../common/footer.ejs %>
